body{
    font-family:"Open Sans", sans-serif;
    font-size:12px;
    font-weight:400;
  }
  .menu{
    background-color:#2180A7;
  }
  .menu_item{
    text-transform: uppercase;
    
    color:#FFFFFF;
    opacity: .7;
  }
  .menu_item:hover{
    opacity: 1;
  }
  .destaque{
    background-color:#161310;
  }
  .destaque_titulo{
    
    font-family:"pt sans narrow";
    font-size:32px;
    font-weight:700;
    letter-spacing:1px;
    color:#FFFFFF;
  }
  .card_titulo{
    font-family:"pt sans narrow";
    font-size:26px;
    font-weight:700;
    line-height:33px;
    color: #3e4248;
  }
  .card_titulo:hover{
    color:#229fd3;
  }
  .card_data{
    color:#999999;
  }
  .card_autor{
    color:#247fa3;
    text-decoration:none;
  }
  .card_descricao{
    font-size:14px;
    line-height:18px;
    color:#666666;
  }
  .breadcrumb{
    color:#757575;
  }
  .breadcrumb_home, .breadcrumb_categoria{
    color:#247fa3;
    text-decoration:none;
  }
  .noticia_titulo{
    font-family:"pt sans narrow";
    font-size:52px;
    font-weight:700;
    line-height:62px;
    color:#3e4248;
  }
  .noticias_resume{
    font-size:17px;
    line-height:22px;
    color:#555555;
  }
  .noticia_corpo{
    font-size:17px;
    line-height:28px;
    color:#444444;
    
  }
  .noticias_linkcorpo{
    color:#247fa3;
  
  }
  .noticias_linkcorpo:hover{
    text-decoration:none;
  }
  .noticia_subtitulo{
    font-size:25px;
    line-height:34px;
    color:#3e4248;
  }
  .noticia_subtitulo{
    font-size:25px;
    line-height:34px;
    color: #3e4248;
  }
  .noticia_fontelink{
    font-size:17px;
    line-height:28px;
    color: #247fa3;
    font-style:italic;
  }
  .noticia_fontelink:hover{
    text-decoration:none;
  }
  .rodape{
    background-color:#14739A;
  }
  .rodape_link{
    font-size:13px;
    color:#FFFFFF;
    text-decoration:none;
  }
  .rodape_link:hover{
    opacity: .7;
  }
  .rodape_copyright{
    font-size:13px;
    line-height:28px;
    color:#d7f3ff;  
  }
  